package templates

templ Base(content templ.Component) {
	<!DOCTYPE html>
	<html>
	<head>
		<title>Car Dealership</title>
		<link rel="stylesheet" href="assets/styles/styles.css">
	</head>
	<body>
		@header()
		@content
	
	@footer()

	


	</body>
	</html>
}

templ header() {
	<header>
		<h1>Car Dealership</h1>
		<nav id="navbar">
			<ul>
				<li>Home</li>
				<li>Cars</li>
				<li>About Us</li>
			</ul>
		
		</nav>
	</header>
}

	
